@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Black+And+White+Picture&family=Dosis:wght@200&family=Poppins:wght@100;200&family=Roboto:wght@300&display=swap');


body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior:smooth;
}

*{
	box-sizing: border-box;
    font-family: 'Black And White Picture', sans-serif;
	font-family: 'Poppins', sans-serif;
}

.wrapper{
	width: 100%;
	position: relative;
}

.container{
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.container .list-menu{
	width: 30%;
    display: inline-block;
    height: 100vh;
	position: fixed;
	max-width: 250px;
}

.food-catagory{
	width: 60%;
    display: inline-block;
    height: 100vh;
	position: absolute;
    right: 16%;
}

header ul{
  display: flex;
  align-items: center;
  justify-content: center;
}



ul{
	margin: 0;
	padding: 0;
	list-style: none;
	/* margin: 2rem 0; */
}

li{
	width: 100%;
	padding: 1rem;
	cursor:pointer;
}

#app.active{
	display: none;
}
#all-res.active{
	display: none;
}

li a{
	font-weight:bold;
	color: rgba(0.0.0.9);
	text-decoration: none;
}


#popular , #expres{
	position: relative;
}

#offer{
  position: relative;
}

.recipe{
	display: inline-block !important;
	width: 270px;
	height: 270px;
	margin: 10px;
}

#app > div , .all-res{
	box-shadow: 6px 3px 10px #ddd;
	padding: 10px 20px;
}

.inline-element{
	display: inline-block;
}


.more{	
	width: 230px;
	height: 213px;
	border: 2px solid #ddd;
	transform: translateY(-70%);
	display: inline-block;
	text-align: center;
	line-height: 213px;
	font-weight: bold;
	cursor: pointer;
	margin: 0 20px;
	color: red;
}


.box{
	width: 220px;
	height: 220px;
	margin:20px;
}

.recipe:hover{
	border: 2px solid #ddd;
	transition: all 1s;
	box-shadow: 2px 2px 3px #ddd;
	transform: scale(1.2);
  }

  .recipe:hover .viwe{
	  visibility: visible;
  }

  .title{
	  color: #839390;
  }

  .rating{
	background: lightgreen;
    padding: 1px 4px;
    border-radius: 5px;
	color: #fff;
	font-weight: bold;
  }

  .food-info{
	display: flex;
    justify-content: space-around;
	padding-top:5px;
}

a{
	display: block;
}

.viwe{
	width: 50%;
	margin: auto;
	color: skyblue;
	text-align: center;
	font-weight: bold;
	visibility: hidden;
	position: relative;
    bottom: 1.5rem;
}

img{
	object-fit: cover;
	/* background-size: cover; */
}

li.active{
	background: orange;
}

hr{
	height: 1px;
	background-color: #ddd;
}

.more-items-text{
	font-weight: bold;
}

.recipe.active{
	display: none !important;
}

/* media quesries to make it responsive */

@media screen and (max-width : 1150px){

	.food-catagory{
		width: 80%;
		right: 10%;
	}
}


@media screen and (max-width : 800px){
	.recipe{margin:0}
	.recipe:hover{
		transform: scale(1);
	}
}

@media screen and (max-width : 740px){
	.more{
		transform: translateY(2%);
	}
}
